/* Header NavBar section */
header {
	background-color: white;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    position: fixed;
    z-index: 100;
    top: 0;
}

nav ul {
	margin-top: 20px;
 }

nav ul li {
	list-style: none;
    display: inline-block;
	padding: 20px;
}

nav ul li a {
	text-decoration: none;
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    color: #565673;
    padding: 0 10px;
}

header .logo{
	width: 30%; 
	height: 5%; 
}

main {
	overflow-x: hidden;
}

.recipes {
	margin-top: 100px; 
}

.spot {
	margin-top: 100px; 
}

.search form{
    display: flex;
	margin: 45px 10px 40px 90px;

}

.searchInput{
    border: 0;
    width: 0;
    transition: width 0.1s ease-in;
}

.searchInput.active{
    width: 150px;
}

.searchInput:focus{
    outline: none;
}

.searchIcon{
    cursor: pointer;
	width: 100px; 
}

/* Header NavBar section ends */


/* Footer */

footer {
	background: white;
	height: 65px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}


footer ul li {
	list-style: none;
    display: inline-block;
	padding: 20px;
}

footer ul li a {
	text-decoration: none;
    display: block;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    color: #565673;
    padding: 0 10px;
}

/* Footer ends */