header {
    background: white;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    position: fixed;
    z-index: 100;
    top: 0;
}

nav ul {
	height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0 20px 0 60px;
}

nav ul li {
	text-align:left;
	height: 65px;
	display: flex;
	align-items: center;	
}

nav ul a {
	text-decoration: none;
    padding: 0 20px 0 20px;
    font-size: 20px;
}

header .logo{
	width: 16%; 
	height: 5%; 
}

main {
	overflow-x: hidden;
}

.recipes {
	margin-top: 100px; 
}

.spot {
	margin-top: 100px; 
}

.searchBar {
	height: 30px;
    display: flex;
    margin: 35px 60px 0 50px;
}


footer {
	background: white;
	height: 65px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
footer ul {
	height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
footer a {
	text-decoration: none;
    padding: 0 20px 0 20px;
    font-size: 20px;
}
